body{
    padding: 0;
    margin: 0;
    background: #FFF;
    /* width: 100vw; */
    height: 200vh;
    min-width: 1180px;
}
.top{
    height: 60px;
    background: #1E222A;
    width: 100%;
    display: flex;
}
.textareaBG{
    /* background: #1E222A; */
    height: 110px;
    /* width: 110px; */
    width: 30%;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
}
.textarea{
    flex: 1;
    /* height: 90px; */
    padding-left: 60px;
    /* padding-right: 10px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: #FFF;
    font-size: 16px;
}
.param {
    /* width:  160px;
    height: 25px;
    font-size: 15px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* text-align: left; */
    vertical-align: right;
}

.input {
    width:  160px;
    height: 25px;
    font-size: 15px;
    margin-left: 10px;
}

.input_node_url {
    width:  380px;
    height: 25px;
    font-size: 15px;
    margin-left: 10px;
}

.input_conn_node {
    width:  260px;
    height: 25px;
    font-size: 15px;
    margin-left: 10px;
}

.button {
    border: 1px solid #1e222a;
    border-radius: 4px;
    color: #1e222a;
    text-align: center;    
    transition-duration: 0.4s;
}

.button_small {
    padding: 6px 15px;
    font-size: 15px;
    margin-left: 15px;
}

.button_big {
    padding: 8px 25px;
    font-size: 16px;
    margin-left: 30px;
}

.button:hover {
    /* Green */
    background-color: #4CAF50;
    border: 1px solid #dde0e7;
    color: white;
    cursor: pointer;
}

.url {
    color: #26272e;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.url:hover {
    background-color: rgb(65, 165, 247);
    /* border: 1px solid #e9ebf0; */
    color: white;
    /* cursor: pointer; */
}

.topLeft{
    color: #FFF;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 600;
    width: 180px;
    padding-left: 20px;
    padding-right: 30px;
}
.topRight{
    flex: 1;
    height: 60px;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-size: 16px;
}
.topData{
    display: flex;
}
.topDataKey{
    padding-left: 30px;
}
.topDataVal{
    padding-left: 10px;
    font-weight: 600;
}
.main{
    /* height: calc(150vh - 120px); */
    background: #f5f6f8; 
    padding: 30px 30px 30px 20px;
    display: flex;
}
.leftSide{
    /* height: calc(150vh - 120px); */
    background: #f5f6f8;
    /* width: 180px; */
    /* padding: 1px 3px 3px 30px; */
    padding-left: 30px;
    /* display: flex; */
    overflow-y: auto;
}

/* .menuListItem{ */
    /* margin: 50px 0; */
    /* padding-top: 10px; */
/* } */

a {
    text-decoration: none;
}

/* .label {
    color: #9195a5;
} */

.copyright {
    color: #eeeff5;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
}

.bigText {
    color: #26272e;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
}

.funcText {
    color: #26272e;
    /* height: 25px; */
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    /* text-decoration: none; */
}

.responseText {
    color: #26272e;
    /* height: 25px; */
    line-height: 25px;
    /* font-size: 16px; */
    font-weight: 500;
    /* padding-top: 20px; */
    /* text-decoration: none; */
}

.menuTitle{
    height: 30px;
    line-height: 30px;
    color: #9195a5;
    cursor: default;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* .menuItem{
    color: #26272e;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
} */

.contain{
    flex: 1;
    /* height: calc(100vh - 120px); */
    width: 300px;
    overflow-y: auto;
}
.panelItem{
/* .panel>.panelItem{ */
    background: #fff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 5px 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #9195a5;
    word-wrap:break-word; 
    word-break:break-all;
}
/* .panel>.panelItem:last-child{
    margin-bottom: 0px;
} */
.panelTitle{
    font-size: 18px;
    color: #45474e;
    font-weight: 700;
    /* margin-bottom: 20px; */
}
.hide{
    display: none;
}
.show{
    display: block;
}
.messageAndConnectedPanelContent{
    display: flex;
}
.message{
flex: 1;
margin-right: 10px;
}
.message>.toolBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.message>.toolBar>.title{
    font-size: 16px;
}
.message>.toolBar>.action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}
.messageContent{
    border: 1px solid #9195a5;
    padding: 12px 20px;
    height: 90px;
}
.messageContent>.messageItem{
    font-size: 14px;
    line-height: 30px;
}
.connected{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    color: #9195a5;
}
.connected>.description{
    font-size: 14px;
    width: 120px;
    text-align: center;
}
.connectedPeople{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    cursor: pointer;
    
}
.connectedPeople>.headImage{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #000;
}
.connectedPeople>.userName{
    margin-top: 10px;
}
.requestPanelContent{
    position: relative;
}
.requestSendContent{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
}
.requestSendContent>.sendBtn{
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    color: #1e222a;
    border: 1px solid #1e222a;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}
.requestSendContent>.btnDesc{
    font-size: 12px;
}
.requestContent>.info{
    display: flex;
}
.requestContent>.info>.key{
    width: 80px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.requestContent>.info>.value{
    font-weight: 800;
    font-size: 16px;
    color: #1e222a;
    height: 30px;
    line-height: 30px;
}
.requestContent>.info>.status{
    width: 120px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.requestContent>.paramsContent>.title{
    font-weight: 800;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.requestContent>.paramsContent>.paramsList>.paramsItem{
    display: flex;
    align-items: center;
}
.requestContent>.paramsContent>.paramsList>.paramsItem>.key{
    width: 80px;
    text-align: right;
    margin-right: 6px;
}
.responseContent>.info>.item{
    display: flex;
    height: 40px;
}
.responseContent>.info>.from{
    position: relative;
}
.responseContent>.info>.from>.fromDesc{
    position: absolute;
    top: -10px;
    left: 560px;
    font-size: 14px;
}
.responseContent>.info>.item>.key{
    width: 80px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
}
.responseContent>.info>.item>.value{
    font-weight: 800;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #1e222a;
}


