.wrapper {
    padding-left: 10px;
    font-weight: 600;
    position: relative;
}

.wrapper .tooltip {
    background: #093c49;
    /*bottom: 100%;*/
    top: 100%;
    color: rgb(102, 221, 55);
    display: block;
    left: -70px;
    /* margin-bottom: 15px; */
    margin-top: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    /* width: 100%; */
    width: 200px;
    /* height: 100%; */
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
    /* bottom: -20px; */
    top: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    /* border-top: solid #1496bb 10px; */
    /* border-bottom: solid #1496bb 10px; */
    border-bottom: solid #093c49 10px;
    /* bottom: -10px; */
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.wrapper .tooltip_help {
    background: #093c49;
    top: 100%;
    color: rgb(102, 221, 55);
    display: block;
    left: -32px;
    margin-top: -6px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 500px;
    word-break: normal;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip_help:before {
    top: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip_help:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #093c49 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 47px;
    /* left: 20%; */
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip_help {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}

/* ==================== */
/* for .fa.fa-info-circle */
/* for Auto Pilot tooltip */
.wrapper .info_icon {
    background: #093c49;
    top: 100%;
    color: rgb(102, 221, 55);
    display: block;
    left: -30px;
    margin-top: 10px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 220px;
    word-break: normal;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .info_icon:before {
    top: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .info_icon:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #093c49 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 25px;
    /* left: 20%; */
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .info_icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}
/* ======================= */

.parent_div {
    display: flex;
}

.btn_help {
    margin-top: 2px;
    margin-right: 10px;
    margin-left: -13px;

    /* width: 30px;
    height: 30px;
    vertical-align: bottom;
    padding-right: 10px; */
}

.auto_pilot_help {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: -33px;
}


.auto_mode {
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.fa.fa-info-circle {
    font-size: 21px;
    color: rgb(92, 92, 202);
    /* margin-top: 20px;
    margin-right: 10px;
    margin-left: -25px; */
}

.fa_pos {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: -25px;
}